html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  font-family: "Ubuntu", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/* Navbar */

.navbar {
  height: 5rem;
  background-color: white;
}
.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
  line-height: 20px;
  font-size: 15.5px !important;
}

.logo {
  color: #fe424d !important;
  font-size: larger !important;
  font-family: Lucida Handwriting;
  font-weight: 900 !important;
  line-height: 2 !important;
}

.search-btn {
  background-color: #fe424d !important;
  color: white !important;
  border-radius: 25px !important;
  padding: 0 1rem 0 1rem !important;
  display: flex !important; /* Use flexbox */
  align-items: center !important;
}
.search-btn:hover {
  background-color: #fe424d !important;
  color: white !important;
}
.search-btn i {
  display: inline !important;
  margin-right: 0.5rem !important;
}
.search-inp {
  border-radius: 25px !important;
  padding: 0.5rem 3rem 0.5rem 3rem !important;
}

@media screen and (max-width: 600px) {
  .search-inp {
    padding: 0.2rem 0.2rem 0.2rem 0.2rem !important;
    text-align: center !important;
  }
}

.newListing {
  text-align: center;
}

.newListing:hover {
  text-shadow: 0 0 0.5px rgba(0, 0, 0, 1); /* Apply a slight shadow to simulate bold */
  opacity: 1; /* Ensure full opacity */
}

.logoutBtn,
.loginBtn,
.signupBtn {
  display: flex !important;
  align-items: center;
}

.logoutBtn:hover,
.loginBtn:hover,
.signupBtn:hover {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
}

/* footer */

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.f-info {
  text-align: center;
  height: 7rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

/* cards */

.listing-card {
  border: none !important;
  margin-bottom: 2rem;
  margin-left: 5px;
  margin-right: 5px;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text {
  font-weight: 400 !important;
}

.listing-link {
  text-decoration: none;
}

/*Card Effect*/

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/*new & edit*/

.add-btn,
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/*show page*/

.show-img {
  height: 50vh;
}

.btns {
  display: flex;
  text-align: center;
  justify-content: center;
  offset: 10 !important;
}

/* Map */
#map {
  height: 400px;
  width: 100vh;
}

/* responsive design */
@media (min-width: 1400px) and (max-width: 1440px) {
  .container {
    margin-left: 75px !important;
  }
}
